<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Medical Application" parallel="false">
<listeners>
		<listener class-name="com.EIDSA.utilities.Reporting"/>
	</listeners>

<test name="EIDSA App Test">
<parameter name="browser" value="chrome" />
<classes>
<class name="com.EIDSA.testCases.Sanity.TC_001_LoginTest_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_002_LoginTest_Negative"/>
<class name="com.EIDSA.testCases.Sanity.TC_003_ForgotPasswordOrUsername_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_004_StudyProfile_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_005_Users_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_006_Roles_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_007_Site_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_008_Subject_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_009_UnscheduledVisit_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_010_FillForm_Positive"/>
<class name="com.EIDSA.testCases.Sanity.TC_011_SubmittedForm_Positive"/>

<!--  <methods>
               <include name="negativeTest6" />
            </methods>-->
             
</classes>

</test>


</suite>